.header {
    display: flex;

    &__column--one {
        width: 23.5%;
        padding: 20px 0 0 30px;

        background-color: $white;
    }

    &__circle-wrapper {
        display: flex;
    }

    &__circle--red {
        margin-right: 10px;
    }

    &__circle--yellow {
        margin-right: 10px;
    }

    &__column--two {
        display: flex;
        align-items: center;

        width: 55%;

        padding: 66px 20px 8px 20px;

        background-color: $whisper;
    }

    &__search-form {
        margin-right: 20px;
    }

    &__column--three {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-grow: 1;

        padding: 65px 20px 8px 20px;
        
        background-color: $whisper;
    }
}