.main {
    display: flex;

    background-color: $whisper;

    &__title {
        margin-bottom: 20px;

        &--experts {
            color: $nevada;

            & span {
                color: $shark;
            }
        }
    }

    &__button {
        &--arrow {
            margin: 0 auto;
            display: block;
        }
    }

    &__sidebar {
        width: 23.5%;
    }

    &__wrapper {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;

        margin-right: 20px;
    }

    &__content+&__content {
        margin: 0;
    }

    &__center {

        width: 76.5%;

        padding: 20px;
    }

    &__container {
        padding: 20px;
        margin-bottom: 20px;

        background-color: $white;

        border-radius: 10px;

        &--header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

    }

    &__container+&__container{
        margin: 0;
    }

    &__statistic {
        margin-bottom: 40px;
    }
}