.profile {

    &__button--chat {
        position: relative;

        background-image: url("../public/icons/profile-chat.svg");
        background-repeat: no-repeat;
        background-position: center;

        &::after {
            position: absolute;
            content: "";

            width: 8px;
            height: 8px;

            top: 0;
            right: 0;

            border-radius: 50%;
            background-color: $mint-green ;
        }

        @media #{$screen-tablet} {
            margin-right: 22px;
        }
    }

    &__button--edit {

        background-image: url("../public/icons/profile-edit.svg");
        background-repeat: no-repeat;
        background-position: center;

        @media #{$screen-tablet} {
            margin-right: 22px;
        }

    }

    &__button--cabinet {
        width: 30px;
        height: 30px;

        border-radius: 50%;
        background-image: url("../public/images/profile-img.png");
        background-repeat: no-repeat;
        background-position: center;

        @media #{$screen-tablet} {
            width: 54px;
            height: 54px;
        }
    }
}