.statistic {
    display: flex;

    &__container {
        position: relative;

        display: flex;
        flex-direction: column;

        padding: 34px 20px 30px 20px;

        background-color: $whisper;
        border-radius: 16px 0 0 16px;
    }

    &__container+&__container {
        background-color: #f3f3f8;

        border-radius: 0 16px 16px 0;
    }

    &__percent {
        position: absolute;
        top: 29px;
        right: 18px;
    }

    &__termin {
        margin-bottom: 10px;

        font-size: $font-size-small ;
        line-height: 19px;
    }

    &__description {
        font-size: $font-size-big ;
        line-height: 48px;
    }
}