@font-face {
  font-family: "NeueMontreal-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/NeueMontreal-Regular.woff") format("woff"), url("../../public/fonts/NeueMontreal-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "NeueMontreal-Regular";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/NeueMontreal-Medium.woff") format("woff"), url("../../public/fonts/NeueMontreal-Medium.woff2") format("woff2"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-family: "NeueMontreal-Regular";
  font-size: 100%;
  color: #1f1f20; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  min-width: 315px;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff; }

h1 {
  margin: 0;
  margin-bottom: rem(20px);
  padding: 0;
  font-size: 50px;
  font-weight: 500; }

h2 {
  margin: 0;
  margin-bottom: rem(10px);
  padding: 0;
  font-size: 40px;
  font-weight: 500; }

h3 {
  margin: 0;
  margin-bottom: rem(10px);
  padding: 0;
  font-size: 24px;
  font-weight: 500; }

p {
  margin: 0;
  padding: 0;
  font-size: 18px; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  font-size: 16px;
  text-decoration: none;
  color: #454eec; }
  a:visited {
    opacity: 0.5; }
  a:hover {
    text-decoration: underline; }

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%); }

.page-container {
  -webkit-box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 34px rgba(0, 0, 0, 0.1);
  border-radius: 30px; }

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500; }
  @media (min-width: 768px) {
    .title {
      font-size: 50px; } }
  @media (min-width: 1440px) {
    .title {
      font-size: 50px; } }
  .title--big {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500; }
    @media (min-width: 768px) {
      .title--big {
        font-size: 40px; } }
    @media (min-width: 1440px) {
      .title--big {
        font-size: 40px; } }
  .title--medium {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500; }
    @media (min-width: 768px) {
      .title--medium {
        font-size: 24px; } }
    @media (min-width: 1440px) {
      .title--medium {
        font-size: 24px; } }

.img--border-radius-8 {
  border-radius: 8px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 1440px) {
    .header {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end; } }
  .header__column--one {
    padding: 20px 0 20px 30px;
    margin-right: 31px; }
    @media (min-width: 1440px) {
      .header__column--one {
        width: 21%;
        padding: 20px 0 30px 30px; } }
  .header__circle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__circle--red {
    margin-right: 10px; }
  .header__circle--yellow {
    margin-right: 10px; }
  .header__column--two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
    @media (min-width: 1440px) {
      .header__column--two {
        width: 55%;
        padding: 70px 10px 20px 20px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
        background-color: #f9f9fc; } }
  .header__search-form {
    margin-right: 20px; }
  .header__column--three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 80px 20px 20px 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    @media (min-width: 1440px) {
      .header__column--three {
        padding: 70px 20px 20px 10px;
        background-color: #f9f9fc; } }

.circle {
  display: block;
  margin-bottom: 35px;
  width: 20px;
  height: 20px;
  border-radius: 50%; }
  .circle--red {
    background-color: #fd4343; }
  .circle--yellow {
    background-color: #fdbe43; }
  .circle--green {
    background-color: #43fd6c; }

.logo {
  display: block; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 81%;
  border: 1px solid #F3F3F8;
  background-color: #ffffff;
  border-radius: 10px; }
  .search-form__input {
    padding: 12px 14px 12px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none; }
    .search-form__input::-webkit-input-placeholder {
      font-family: inherit;
      font-size: 18px;
      line-height: 22px; }
    .search-form__input:-ms-input-placeholder {
      font-family: inherit;
      font-size: 18px;
      line-height: 22px; }
    .search-form__input::-ms-input-placeholder {
      font-family: inherit;
      font-size: 18px;
      line-height: 22px; }
    .search-form__input::placeholder {
      font-family: inherit;
      font-size: 18px;
      line-height: 22px; }

.button {
  position: relative;
  border: none;
  font-family: inherit;
  cursor: pointer; }
  .button:hover {
    opacity: 0.5; }
  .button:active {
    opacity: 0.3; }
  .button--circle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background-color: #454eec; }
    .button--circle::before, .button--circle::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 16px;
      background-color: #ffffff; }
    .button--circle::after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .button--search {
    width: 54px;
    height: 54px;
    border: none;
    background-color: transparent;
    background-image: url("../../public/icons/search-form.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .button--icon {
    width: 30px;
    height: 30px;
    background-color: transparent; }
  .button--sidebar {
    background-color: #454eec;
    color: #ffffff;
    border-radius: 8px; }
  .button--close {
    width: 20px;
    height: 20px;
    background-color: transparent; }
    .button--close::before, .button--close::after {
      position: absolute;
      content: "";
      top: 0;
      right: 8px;
      width: 2px;
      height: 16px;
      background-color: #454eec;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .button--close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .button--unfilled {
    position: relative;
    padding: 0 30px;
    background-color: transparent;
    font-size: 16px;
    line-height: 100%;
    color: #454eec; }
    .button--unfilled::after {
      position: absolute;
      content: "";
      top: -1px;
      right: 8px;
      width: 13px;
      height: 13px;
      background-image: url("../../public/icons/arrow-button-small.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .button--unfilled-funnel::before {
    position: absolute;
    content: "";
    top: 0;
    left: -4px;
    width: 16px;
    height: 16px;
    background-image: url("../../public/icons/funnel.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .button--unfilled-arrow::after {
    right: 0;
    background-image: url("../../public/icons/arrow-button.svg"); }

.profile__button--chat {
  position: relative;
  background-image: url("../../public/icons/profile-chat.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .profile__button--chat::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #98f8a0; }
  @media (min-width: 768px) {
    .profile__button--chat {
      margin-right: 22px; } }

.profile__button--edit {
  background-image: url("../../public/icons/profile-edit.svg");
  background-repeat: no-repeat;
  background-position: center; }
  @media (min-width: 768px) {
    .profile__button--edit {
      margin-right: 22px; } }

.profile__button--cabinet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../../public/images/profile-img.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (min-width: 768px) {
    .profile__button--cabinet {
      width: 54px;
      height: 54px; } }

.main {
  padding-top: 30px;
  background-color: #f9f9fc; }
  @media (min-width: 768px) {
    .main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 0; } }
  .main__title {
    margin-bottom: 20px; }
    .main__title--experts {
      color: #64696c; }
      .main__title--experts span {
        color: #1f1f20; }
  .main__button--arrow {
    margin: 0 auto;
    display: block; }
  @media (min-width: 768px) {
    .main__sidebar {
      min-width: 250px; } }
  @media (min-width: 1440px) {
    .main__sidebar {
      width: 23.1%; } }
  .main__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 7px 20px 20px 20px; }
    @media (min-width: 768px) {
      .main__center {
        width: 100%; } }
    @media (min-width: 1440px) {
      .main__center {
        width: 76.9%; } }
  .main__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 1440px) {
      .main__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (min-width: 1440px) {
      .main__content {
        margin-right: 20px; } }
    .main__content--right {
      margin-right: 0; }
      @media (min-width: 1440px) {
        .main__content--right {
          width: 430px; } }
  .main__container {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px; }
    .main__container--header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
  .main__statistic {
    margin-bottom: 40px; }

.sidebar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 26px 32px 26px;
  background-color: #ffffff;
  display: none; }
  @media (min-width: 768px) {
    .sidebar {
      display: block; } }
  .sidebar__settings {
    padding-left: 20px; }
    @media (min-width: 768px) {
      .sidebar__settings {
        padding-left: 0; } }
  .sidebar__button {
    padding: 15px 100px;
    margin: 0 auto;
    display: block; }
    @media (min-width: 768px) {
      .sidebar__button {
        display: none; } }
    .sidebar__button--close {
      position: absolute;
      top: -33px;
      right: 38px; }
      @media (min-width: 768px) {
        .sidebar__button--close {
          display: none; } }

.sidebar.is-open {
  display: block; }

.navigation {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .navigation {
      margin-bottom: 322px; } }
  .navigation__item {
    width: 100%;
    margin-bottom: 3px; }
  .navigation__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 16px 14px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: inherit;
    line-height: 22px;
    color: #64696c; }
    .navigation__link::after {
      position: absolute;
      content: "";
      top: 56%;
      right: 17px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
      background-image: url("../../public/icons/aside-arrow.svg");
      background-repeat: no-repeat; }
    .navigation__link--current {
      color: #454eec;
      background-color: #f9f9fc;
      border-radius: 10px; }
      .navigation__link--current::after {
        background-image: url("../../public/icons/aside-arrow-blue.svg"); }
  .navigation__icon {
    margin-right: 19px; }

.settings__item {
  width: 100%; }

.settings__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: inherit;
  line-height: 22px;
  color: #64696c; }

.settings__icon {
  margin-right: 19px; }

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .statistic__container {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px 20px 30px 20px;
    background-color: #f9f9fc;
    border-radius: 16px 0 0 16px; }
    @media (min-width: 1440px) {
      .statistic__container {
        padding: 34px 20px 30px 20px; } }
  .statistic__container + .statistic__container {
    background-color: #f3f3f8;
    border-radius: 0 16px 16px 0; }
  .statistic__percent {
    position: absolute;
    top: 29px;
    right: 18px;
    font-size: 14px; }
  .statistic__termin {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px; }
  .statistic__description {
    font-size: 18px;
    line-height: 24px; }
    @media (min-width: 1440px) {
      .statistic__description {
        font-size: 40px;
        line-height: 48px; } }

.percent {
  padding: 5px 8px;
  border-radius: 80px;
  background-color: #ffffff;
  color: #454eec; }

.experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 1440px) {
    .experts {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .experts__item {
    margin-bottom: 10px; }
    @media (min-width: 1440px) {
      .experts__item {
        margin-bottom: 0;
        margin-right: 30px; } }
    .experts__item:last-child {
      margin: 0; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 180px; }
  .card:hover {
    text-decoration: none;
    opacity: 0.5; }
  .card__wrapper {
    padding: 0 0 0 5px; }
    .card__wrapper--large {
      padding: 0 0 0 10px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
  .card__title {
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 22px;
    color: #1f1f20; }
    .card__title--large {
      margin-bottom: 0; }
  .card__info {
    font-size: 14px;
    line-height: 17px;
    color: #64696c; }
    .card__info--large {
      margin-bottom: 8px; }

.histogram {
  width: 100%;
  height: auto; }

.popular {
  padding: 10px 0 30px 0; }
  .popular__item {
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f8; }
    .popular__item:first-child {
      padding-top: 0; }

.comments__description {
  margin-bottom: 10px; }

.date {
  font-size: 14px;
  line-height: 108.9%;
  color: #64696c; }
