.header {
    display: flex;
    flex-wrap: wrap;

    @media #{$screen-desktop} {
        flex-wrap: nowrap;
        align-items: end;
    }

    &__column--one {
        padding: 20px 0 20px 30px;
        margin-right: 31px;

        @media #{$screen-desktop} {
            width: 21%;

            padding: 20px 0 30px 30px;
        }

    }

    &__circle-wrapper {
        display: flex;
    }

    &__circle--red {
        margin-right: 10px;
    }

    &__circle--yellow {
        margin-right: 10px;
    }

    &__column--two {
        display: flex;
        align-items: center;

        padding: 20px;

        width: 100%;
        order: 3;

        @media #{$screen-desktop} {
            width: 55%;
            padding: 70px 10px 20px 20px;

            order: 2;
            flex-grow: 2;

            background-color: $whisper;
        }
    }

    &__search-form {
        margin-right: 20px;
    }

    &__column--three {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-grow: 1;


        padding: 80px 20px 20px 0;

        order: 2;

        @media #{$screen-desktop} {
            padding: 70px 20px 20px 10px;

            background-color: $whisper;
        }

    }
}