.main {
    padding-top: 30px;

    background-color: $whisper;


    @media #{$screen-tablet} {
        display: flex;

        padding-top: 0;
    }



    &__title {
        margin-bottom: 20px;

        &--experts {
            color: $nevada;

            & span {
                color: $shark;
            }
        }
    }

    &__button {
        &--arrow {
            margin: 0 auto;
            display: block;
        }
    }

    &__sidebar {

        @media #{$screen-tablet} {
            min-width: 250px;
        }

        @media #{$screen-desktop} {
            width: 23.1%;
        }
    }


    &__center {
        display: flex;
        flex-direction: column;
        padding: 7px 20px 20px 20px;

        @media #{$screen-tablet} {
            width: 100%;
        }

        @media #{$screen-desktop} {
            width: 76.9%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @media #{$screen-desktop} {
            flex-direction: row;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;


        @media #{$screen-desktop} {
            margin-right: 20px;
        }

        &--right {
            margin-right: 0;

            @media #{$screen-desktop} {
                width: 430px;

            }
        }
    }


    &__container {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

        background-color: $white;

        border-radius: 10px;


        &--header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

    }

    &__statistic {
        margin-bottom: 40px;
    }
}