.search-form {

    display: flex;
    flex-grow: 1;

    width: 81%;

    border: 1px solid #F3F3F8;

    background-color: $white;
    border-radius: 10px;

    &__input {
        padding: 12px 14px 12px 0;
        width: 100%;

        border: none;
        border-radius: 10px;

        outline: none;

        &::placeholder {
            font-family: inherit;
            font-size: $font-size-normal;
            line-height: 22px;
        }
    } 
}