@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}


@mixin title-huge {
    font-size: 50px;
    line-height: 60px;
    font-weight: $font-weight-medium;

    @media #{$screen-tablet} {
        font-size: $font-size-huge;
    }

    @media #{$screen-desktop} {
        font-size: $font-size-huge;
    }
}


@mixin title-big{
    font-size: 40px;
    line-height: 48px;
    font-weight: $font-weight-medium;

    @media #{$screen-tablet} {
        font-size: $font-size-big;
    }

    @media #{$screen-desktop} {
        font-size: $font-size-big;
    }
}

@mixin title-medium{
    font-size: 24px;
    line-height: 29px;
    font-weight: $font-weight-medium;

    @media #{$screen-tablet} {
        font-size: $font-size-medium;
    }

    @media #{$screen-desktop} {
        font-size: $font-size-medium;
    }
}


@mixin text{
    font-size: $font-size-normal;
    font-weight: $font-weight-regular;
    line-height: 22px;
}

@mixin text-light{
    font-size: $font-size-normal;
    font-weight: $font-weight-regular;
    letter-spacing: 0.01em;
    color:$color-text-light ;
}